.formcraft-css form.fc-form .form-element .paypal-cover > div
{
	width: 100%;
}
.formcraft-css form.fc-form .form-element .paypal-cover table
{
	width: 100%;
	border-collapse: collapse;
	font-size: .95em;
	display: table;
	border: 0px;
}
.formcraft-css form.fc-form .form-element .paypal-cover .pp-total
{
	font-weight: 600;
}
.formcraft-css form.fc-form .form-element .paypal-cover table thead,
.formcraft-css form.fc-form .form-element .paypal-cover table tbody
{
	width: 100%;
}
.formcraft-css form.fc-form .form-element .paypal-cover table thead tr th:nth-child(1),
.formcraft-css form.fc-form .form-element .paypal-cover table tbody tr td:nth-child(1)
{
	width: 55%;
}
.formcraft-css form.fc-form .form-element .paypal-cover table thead tr th:nth-child(2),
.formcraft-css form.fc-form .form-element .paypal-cover table tbody tr td:nth-child(2)
{
	width: 20%;
	text-align: center;
}
.formcraft-css form.fc-form .form-element .paypal-cover table thead tr th:nth-child(3),
.formcraft-css form.fc-form .form-element .paypal-cover table tbody tr td:nth-child(3)
{
	width: 25%;
	text-align: right;
}
.formcraft-css form.fc-form .form-element .paypal-cover table tbody tr td,
.formcraft-css form.fc-form .form-element .paypal-cover table thead tr th
{
	padding: 6px 10px;
}
.formcraft-css form.fc-form .form-element .paypal-cover table thead tr th
{
	border-bottom: 4px double #dfdfdf;
}
.formcraft-css form.fc-form .form-element .paypal-cover table tbody tr td
{
	border-bottom: 1px solid #dfdfdf;
}
.formcraft-css form.fc-form .form-element .paypal-cover table tbody tr td,
.formcraft-css form.fc-form .form-element .paypal-cover table thead tr th
{
	border-right-width: 0px;
}
.formcraft-css form.fc-form .form-element .paypal-cover table tbody tr:last-child td,
.formcraft-css form.fc-form .form-element .paypal-cover table tbody tr:last-child
{
	border-bottom-width: 0px;
}
.formcraft-css form.fc-form .form-element .paypal-cover .subs-desc
{
	display: none;
	text-align: center;
}
.formcraft-css form.fc-form .form-element .paypal-cover.type-subscription table
{
	display: none;
}
.formcraft-css form.fc-form .form-element .paypal-cover.type-subscription .subs-desc
{
	display: block;
}